body, html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .container {
  text-align: center;
}

.App .container .text {
  font-size: 36px;
}

.App .container .condition-true {
  font-size: 72px;
  color: green;
}

.App .container .condition-false {
  font-size: 72px;
  color: red;
}